{% extends 'base.html' %}
{% block title%}Home{% endblock %}

{% block body %}
<div class="container">
    <ul class="nav nav-tabs list-title">
    {% for job in job_list %}
    <div class="col-sm-6 col-md-4 job">
      <div class="job-box">
        <div class="caption">
          <a href="#">
            <h4 class="job-name">{{ job.name }}</h4>
            <span class="timesince"></span>
            <p class="required">{{ job.experience }}/{{ job.degree }}</p>
          </a>
        </div>
    </div>
    <div class="media">
      <div class="media-left">
          <a href="#">
              <img width="40" height="40" class="media-object" alt="公司logo" src="{{ job.companies.logo }}"/>
          </a>
      </div>
      <div class="media-body">
        <a href="#">
          <h4 class="media-heading">{{ job.companies.name }}</h4>
        </a>
          <span class="comapny-meta">{{ job.companies.type }}/{{ job.companies.finance }}/{{ job.companies.staff_num }}</span>
      </div>
    </div>
    </div>
    {% endfor %}
    <p class="list-more">
        <a class="btn btn-success btn-lg list-more-btn" href="/job/">更多职位</a>
    </p>
    </ul>
    <ul class="nav nav-tabs list-title">
    {% for company in company_list %}
    <div class="col-sm-6 col-md-3 company-item">
      <div class="thumbnail">
          <a href="#">
            <img width="100" height="100" class="media-object" alt="公司logo" src="{{ company.logo }}"/>
            <h3 class="company-name">{{ company.name }}</h3>
            <p class="company-description">{{ company.description }}</p>
          </a>
          <a href="#">
            <p class="company-zhaopin">在招职位：待设定</p>
      </div>
    </div>
    {% endfor %}
    <p class="list-more">
        <a class="btn btn-success btn-lg list-more-btn" href="/company/">更多企业</a>
    </p>
    </ul>
</div>