{% extends 'base.html' %}
{% from 'macros.html' import render_pagination %}

{% block title %}
Job
{% endblock %}
{% block body %}
<ol class="breadcrumb">
   <li >工作地点：</li>
  <li ><a href="#">北京</a></li>
  <li><a href="#">上海</a></li>
  <li><a href="#">广州</a></li>
  <li><a href="#">深圳</a></li>
  <li><a href="#">成都</a></li>
  <li><a href="#">重庆</a></li>
  <li><a href="#">郑州</a></li>
  <li><a href="#">石家庄</a></li>
  <li><a href="#">青岛</a></li>
  <li><a href="#">哈尔滨</a></li>
  <li class="btn-moret" href='#'>更多</li>
</ol>
<ol class="breadcrumb">
   <li >融资阶段：</li>
  <li ><a href="#">未融资</a></li>
  <li ><a href="#">天使轮</a></li>
  <li ><a href="#">A轮</a></li>
  <li ><a href="#">B轮</a></li>
  <li ><a href="#">C轮</a></li>
  <li ><a href="#">D轮及以上</a></li>
  <li ><a href="#">上市公司</a></li>
  <li ><a href="#">不需要融资</a></li>
</ol>
<ol class="breadcrumb">
  <li >公司规模：</li>
  <li ><a href="#">不限</a></li>
  <li ><a href="#">少于15人</a></li>
  <li ><a href="#">15-50人</a></li>
  <li ><a href="#">50-150人</a></li>
  <li ><a href="#">150-500人</a></li>
  <li ><a href="#">500-2000人</a></li>
  <li ><a href="#">2000人以上</a></li>
</ol>
<ol class="breadcrumb">
  <li >行业领域：</li>
  <li ><a href="#">游戏娱乐</a></li>
  <li ><a href="#">移动互联网</a></li>
  <li ><a href="#">电子商务</a></li>
  <li ><a href="#">金融企业</a></li>
  <li ><a href="#">服务教育</a></li>
  <li ><a href="#">文化娱乐</a></li>
  <li ><a href="#">生产制造</a></li>
  <li class="btn-moret" href='#'>更多</li>
</ol>
<div class="row">
    {% for job in pagination.items %}
    <div class="col-sm-6 col-md-4 job">
      <div class="job-box">
        <div class="caption">
            <a href="{{ url_for('job.detail',job_id=job.id) }}">
            <h4 class="job-name">{{ job.name }}</h4>
            <span class="timesince"></span>
            <p class="required">{{ job.experience }}/{{ job.degree }}</p>
          </a>
        </div>
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img width="50" height="50" class="media-object" alt="公司logo" src="{{ job.companies.logo }}"/>
            </a>
          </div>
          <div class="media-body">
            <a href="#">
              <h4 class="media-heading">{{ job.companies.name }}</h4>
            </a>
              <span class="comapny-meta">{{ job.companies.type }}/{{ job.companies.finance }}/{{ job.companies.staff_num }}</span>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
{{ render_pagination(pagination, 'job.index') }}
{% endblock %}
